* {
    outline: none;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
body {
    overflow: hidden;
}

#webgl-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#wrapper{
    position : absolute;
    height : 50px;
    bottom : 10px;
    width : 100%;
    display : flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
#pixelsize, #color{
    width : 80%;
    

}